@model IEnumerable<admin.Models.Producto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administrar Productos</h1>

<p>
    <a asp-action="Create" class="btn btn-danger">Create New</a>
</p>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.RutaImagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreImagen)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.RutaImagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreImagen)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Activo)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.Productos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMarcaNavigation.Descripcion)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProducto" class="btn btn-success">Edi</a> 

                <a asp-action="Details" asp-route-id="@item.IdProducto" class="btn btn-warning">Det</a> 
                    
                <a asp-action="Delete" asp-route-id="@item.IdProducto" class="btn btn-danger">Eli</a>
            </td>
        </tr>
}
    </tbody>
</table>
