@model IEnumerable<admin.Models.Categorium>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administrar Categorias</h1>

<p>
    <a asp-action="Create" class="btn btn-warning">Create New</a>
</p>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCategoria" class="btn btn-danger">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCategoria" class="btn btn-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCategoria" class="btn btn-success">Delete</a>
            </td>
        </tr>
}
    </tbody>


</table>
